# Python bytecode and cache
__pycache__/
*.py[cod]

# IDE-specific files
.idea/
.vscode/

# OS-specific files (Windows and macOS)
.DS_Store
Thumbs.db

# Environments
.env
.venv
env/
venv/
ENV/

vectordb/
.gradio/
*.log
parsed_documents.json
