datasets==3.6.0
google-genai==1.13.0
gradio==5.29.0 
llama-cloud-services==0.6.21
llama-index==0.12.34
llama-index-core==0.12.34.post1
llama-index-postprocessor-cohere-rerank==0.4.0
numpy==2.2.5
pytesseract==0.3.13
python-dotenv==1.1.0
qdrant-client==1.14.2
ragas==0.2.15
scikit-learn==1.6.1
sentence_transformers==4.1.0